/.phpunit.cache
/.phpunit.result.cache

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/app/*
!/storage/app/public

.env
.env.*
!.env.example

.phpactor.json

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
pnpm-debug.log

/auth.json

/.idea
/.vscode
/.fleet
/.nova
/.zed
/.DS_Store